[Desktop Entry]
Name=Facebook
Comment=Facebook Web App
Exec=google-chrome-stable --app=https://www.facebook.com/zimin.dev/ --window-size=1024,768
Terminal=false
Type=Application
Icon=/home/domino/.icons/App/facebook.svg
Categories=Network;SocialNetworking;
StartupNotify=true
