[Desktop Entry]
Name=GitHub
Comment=Open Google in a web app window
Exec=google-chrome-stable --app=https://github.com/zimindev/ --window-size=1024,768
Terminal=false
Type=Application
Icon=/home/domino/.icons/App/github.png
Categories=Network;WebBrowser;
StartupNotify=true
